:root {
    --navbar-color: rgb(231, 231, 231);
    --positive-color: rgb(11, 156, 11);
    --negative-color: rgb(214, 25, 25);
    --book-card-color: rgb(139, 144, 209);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

button:active {
    transform: scale(0.98);
}

/* Navbar */
nav {
    position: fixed;
    top: 0px;
    padding: 0px 0px;
    height: 100px;
    width: 100%;
    border-bottom: 1px black solid;
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin: 0px 50px;
    font-size: 2.2rem;
}

nav button {
    height: 30px;
    width: 30px;
    padding: 4px;
    margin: 0px 50px;
    border: 1px solid black;
    border-radius: 50%;
}

nav button:hover {
    cursor: pointer;
}

/* Main Section */
main {
    margin: auto;
    margin-top: 100px;
    width: 90%;
}

#library-menu {
    border-bottom: 1px solid grey;
    height: 50px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#add-book-btn {
    color: white;
    background-color: var(--positive-color);
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    padding: 10px;
}

#add-book-btn:hover {
    cursor: pointer;
}

#book-shelf {
    margin: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.book-card {
    background-color: var(--book-card-color);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 7px;
    height: fit-content;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-btns button {
    max-width: 50%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0px 20px;
}

.book-btns button:hover {
    cursor: pointer;
}

.delete-book {
    background-color: var(--negative-color);
    color: white;
}